In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880773 sha256=2625bf270be96059848763d814a83e191e33443abc6fe2837cb9af6954488609
  Stored in directory: c:\users\mailn\appdata\local\pip\cache\wheels\df\88\9e\58ef1f74892fef590330ca0830b5b6d995ba29b44f977b3926
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2
Collecting pyspark
  Using cached pyspark-3.1.2.tar.gz (212.4 MB)
Collecting py4j==0.10.9
  Using cached py4j-0.10.9-py2.py3-none-any.whl (198 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py): started
  Building wheel for pyspark (setup.py): finished with status 'done'
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880773 sha256=ce89e5b42d809bbf11f29d5e93e5c24723190ec5311e035a8663c621d23b071a
  Stored in directory: c:\users\mailn\appdata\local\pip\cache\wheels\df\88\9e\58ef1f74892fef590330ca0830b5b6d995ba29b44f977b3926
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

# Basics

In [3]:
import pyspark

In [5]:
import pandas as pd
pd.read_csv('test1.csv')

       Name  Age
0  Abhishek   25
1     Mohit   28
2    Muskan   27

In [20]:
type(pd.read_csv('test1.csv'))

pandas.core.frame.DataFrame

In [6]:
#create a spark session
from pyspark.sql import SparkSession

In [10]:
#This takes time when executed for 1st time
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [11]:
spark

In [12]:
df_pyspark=spark.read.csv('test1.csv')

In [14]:
df_pyspark.show()

+--------+---+
|     _c0|_c1|
+--------+---+
|    Name|Age|
|Abhishek| 25|
|   Mohit| 28|
|  Muskan| 27|
+--------+---+

In [18]:
df_pyspark=spark.read.option('header','true').csv('test1.csv')

In [19]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.head(3)

[Row(Name='Abhishek', Age='25'),
 Row(Name='Mohit', Age='28'),
 Row(Name='Muskan', Age='27')]

In [23]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

# DataFrame

In [24]:
from pyspark.sql import SparkSession

In [25]:
spark=SparkSession.builder.appName('Datframe').getOrCreate()

In [26]:
spark

In [27]:
#read the datset
spark.read.option('header','true').csv('test1.csv')

DataFrame[Name: string, Age: string]

In [28]:
spark.read.option('header','true').csv('test1.csv').show()

+--------+---+
|    Name|Age|
+--------+---+
|Abhishek| 25|
|   Mohit| 28|
|  Muskan| 27|
+--------+---+

In [32]:
df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True) #make inferSchema true to get apt data types

In [33]:
#checking the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [35]:
#another way to read the csv
df_pyspark=spark.read.csv('test1.csv', header=True, inferSchema=True)
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhishek| 25|         1|
|   Mohit| 28|        10|
|  Muskan| 27|         3|
+--------+---+----------+

In [36]:
#checking the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [37]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

# check the data types of columns

In [38]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [39]:
df_pyspark.head(3)

[Row(Name='Abhishek', Age=25, Experience=1),
 Row(Name='Mohit', Age=28, Experience=10),
 Row(Name='Muskan', Age=27, Experience=3)]

In [40]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhishek| 25|         1|
|   Mohit| 28|        10|
|  Muskan| 27|         3|
+--------+---+----------+

In [41]:
df_pyspark.select('Name')

DataFrame[Name: string]

In [42]:
df_pyspark.select('Name').show()

+--------+
|    Name|
+--------+
|Abhishek|
|   Mohit|
|  Muskan|
+--------+

In [43]:
type(df_pyspark.select('Name').show())

+--------+
|    Name|
+--------+
|Abhishek|
|   Mohit|
|  Muskan|
+--------+

NoneType

In [46]:
type(df_pyspark.select('Name'))

pyspark.sql.dataframe.DataFrame

In [48]:
df_pyspark.select(['Name', 'Experience'])

DataFrame[Name: string, Experience: int]

In [49]:
df_pyspark.select(['Name', 'Experience']).show()

+--------+----------+
|    Name|Experience|
+--------+----------+
|Abhishek|         1|
|   Mohit|        10|
|  Muskan|         3|
+--------+----------+

In [51]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

# checking the describe option

In [53]:
df_pyspark.describe()

DataFrame[summary: string, Name: string, Age: string, Experience: string]

In [54]:
df_pyspark.describe().show()

+-------+--------+------------------+-----------------+
|summary|    Name|               Age|       Experience|
+-------+--------+------------------+-----------------+
|  count|       3|                 3|                3|
|   mean|    null|26.666666666666668|4.666666666666667|
| stddev|    null|1.5275252316519468|4.725815626252608|
|    min|Abhishek|                25|                1|
|    max|  Muskan|                28|               10|
+-------+--------+------------------+-----------------+

# Adding columns in PySpark DataFrame

In [57]:
df_pyspark.withColumn('Experience after 1 year', df_pyspark['Experience']+1).show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience after 1 year|
+--------+---+----------+-----------------------+
|Abhishek| 25|         1|                      2|
|   Mohit| 28|        10|                     11|
|  Muskan| 27|         3|                      4|
+--------+---+----------+-----------------------+

In [58]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhishek| 25|         1|
|   Mohit| 28|        10|
|  Muskan| 27|         3|
+--------+---+----------+

In [60]:
#assign it to a variable to reflect this change
df_pyspark=df_pyspark.withColumn('Experience after 1 year', df_pyspark['Experience']+1)

In [61]:
df_pyspark.show()

+--------+---+----------+-----------------------+
|    Name|Age|Experience|Experience after 1 year|
+--------+---+----------+-----------------------+
|Abhishek| 25|         1|                      2|
|   Mohit| 28|        10|                     11|
|  Muskan| 27|         3|                      4|
+--------+---+----------+-----------------------+

In [65]:
#dropping columns
df_pyspark=df_pyspark.drop('Experience after 1 year')

In [66]:
df_pyspark.show()

+--------+---+----------+
|    Name|Age|Experience|
+--------+---+----------+
|Abhishek| 25|         1|
|   Mohit| 28|        10|
|  Muskan| 27|         3|
+--------+---+----------+

In [68]:
#Rename the columns

df_pyspark=df_pyspark.withColumnRenamed('Name', 'Another Name')

In [69]:
df_pyspark

DataFrame[Another Name: string, Age: int, Experience: int]

In [70]:
df_pyspark.show()

+------------+---+----------+
|Another Name|Age|Experience|
+------------+---+----------+
|    Abhishek| 25|         1|
|       Mohit| 28|        10|
|      Muskan| 27|         3|
+------------+---+----------+

# handle missing values

In [72]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practice').getOrCreate()

In [73]:
spark.read.csv('test2.csv', header=True, inferSchema=True)

DataFrame[Name: string, age: int, Experience: int, Salary: int]

In [74]:
spark.read.csv('test2.csv', header=True, inferSchema=True).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [75]:
df_pyspark=spark.read.csv('test2.csv', header=True, inferSchema=True)

In [76]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [77]:
# drop the columns
df_pyspark.drop('Name')

DataFrame[age: int, Experience: int, Salary: int]

In [78]:
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|null|      null| 40000|
|  34|        10| 38000|
|  36|      null|  null|
+----+----------+------+

In [80]:
df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [86]:
#it drops all rows where null values are present i.e. bydefault how=any
df_pyspark.na.drop(how='any').show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [88]:
# threshold -- atleast 2 non-null values should be there in a row or else it would be dropped
df_pyspark.na.drop(how='any', thresh=2).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

In [90]:
df_pyspark.na.drop(how='any', thresh=3).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [91]:
df_pyspark.na.drop(how='any', thresh=1).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [93]:
# subset feature
df_pyspark.na.drop(how='any', subset=['Experience']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

In [94]:
df_pyspark.na.drop(how='any', subset=['Age']).show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
|     null| 36|      null|  null|
+---------+---+----------+------+

In [100]:
#finally filling the missing values

df_pyspark.na.fill('Missing Values').show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|         Krish|  31|        10| 30000|
|     Sudhanshu|  30|         8| 25000|
|         Sunny|  29|         4| 20000|
|          Paul|  24|         3| 20000|
|        Harsha|  21|         1| 15000|
|       Shubham|  23|         2| 18000|
|        Mahesh|null|      null| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      null|  null|
+--------------+----+----------+------+

In [99]:
 df_pyspark.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [103]:
df_pyspark.na.fill('no data', ['Experience', 'Age']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

In [115]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mean")

In [116]:

# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         28|                 5|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 5|         25750|
+---------+----+----------+------+-----------+------------------+--------------+

In [113]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("median")

In [114]:

# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         29|                 4|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                 4|         20000|
+---------+----+----------+------+-----------+------------------+--------------+

In [111]:
from pyspark.ml.feature import Imputer

imputer = Imputer(
    inputCols=['age', 'Experience', 'Salary'], 
    outputCols=["{}_imputed".format(c) for c in ['age', 'Experience', 'Salary']]
    ).setStrategy("mode")

In [112]:
# Add imputation cols to df
imputer.fit(df_pyspark).transform(df_pyspark).show()

+---------+----+----------+------+-----------+------------------+--------------+
|     Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+---------+----+----------+------+-----------+------------------+--------------+
|    Krish|  31|        10| 30000|         31|                10|         30000|
|Sudhanshu|  30|         8| 25000|         30|                 8|         25000|
|    Sunny|  29|         4| 20000|         29|                 4|         20000|
|     Paul|  24|         3| 20000|         24|                 3|         20000|
|   Harsha|  21|         1| 15000|         21|                 1|         15000|
|  Shubham|  23|         2| 18000|         23|                 2|         18000|
|   Mahesh|null|      null| 40000|         21|                10|         40000|
|     null|  34|        10| 38000|         34|                10|         38000|
|     null|  36|      null|  null|         36|                10|         20000|
+---------+----+----------+------+-----------+------------------+--------------+